project:
  type: website
  output-dir: docs

website:
  title: "Deepak RJ"
  description: "I write on medical AI"
  site-url: "https://dyadd.github.io/Deepak_RJ"
  repo-url: "https://github.com/dyadd/Deepak_RJ"
  repo-actions: [issue]
  
  page-footer: 
    left: "Blog built with [Quarto](https://quarto.org/)"
    right: "&copy; 2024 Deepak RJ"
    
  navbar:
    background: dark
    search: true
    right:
      - text: Blog
        file: blog.qmd
      - text: About
        file: index.qmd
      - icon: github
        href: https://github.com/Dyadd
      - icon: twitter
        href: https://x.com/dyad_rj

format:
  html:
    theme:
      light: [cosmo, custom.scss]
    mainfont: "Lato"
    code-copy: true
    code-overflow: wrap
    code-block-bg: true
    toc: true
    toc-title: On this page
    toc-depth: 3
    toc-location: right
    highlight-style: github
    link-external-newwindow: true
    link-external-icon: true
    smooth-scroll: true
    anchor-sections: true
    citations-hover: true
    footnotes-hover: true
    include-after-body: counterdev.html